<h2 class="mb-4">Latest Recipes</h2>
<section>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">


    <% for(let i =0; i<9; i++) { %>

      <a href="/recipe/:id" class="col text-center catagory__link">
        <div class="catagory__img catagory__img__lg">
  
        </div>
        <p class="lead">South Indian</p>
      </a>

      <% } %>
      <% { %>
        <p class="lead">Nothing to Show</p>
        <% } %>
  </div>
</section>