<div class="d-flex justify-content-between flex-wrap align-items-center">
<h1 class="mb-4">Recipe Name</h1>

<div class="type__container border border-danger">
  <div class="bg-danger"></div>
</div>
<div class="type__container border border-success">
  <div class="bg-success m-auto"></div>
</div>
</div>

<section>
  <div class="row g-2 g-lg-4">
    <div class="col-12 col-lg-6">
      <div class="border catagory__img catagory__img__lg"></div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column">
      <h4>Description</h4>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non perspiciatis modi optio provident explicabo in vitae quas! Cumque, voluptatem autem et molestias magnam quam vel tempora earum? Beatae, rem cumque?</p>
      <p class="text-italic text__underline lead">source: <a href="#">Lorem,ipsumdolor.</a></p>
      <h4>Indegrident</h4>

      <ul  >
        <% for(let i = 0; i < 6; i++){ %>
          <li class="lead">step1</li>
          <% } %>
      </ul>
      <h4>How to make it?</h4>
      <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque accusamus ratione deserunt minima modi similique voluptates libero obcaecati eius debitis unde expedita quia sint, fuga atque qui exercitationem illum assumenda harum nulla ipsum tempore quod maiores temporibus! Sed, voluptas quaerat quasi esse, maxime asperiores non totam consequuntur molestiae ab laboriosam dolores exercitationem vero quae aspernatur ducimus deleniti iure dolore eum amet quibusdam ipsam dolorum? Blanditiis, ratione odit laboriosam id voluptatem aliquam. Iure eos laudantium alias inventore error voluptas fugit blanditiis hic culpa commodi dolores vero maiores, nesciunt quo quisquam, accusamus numquam illo reiciendis obcaecati aliquid aut debitis ex? Reiciendis, quaerat?</p>
    </div>
  </div>

</section>